python-telegram-bot>=22.7
python-dotenv==1.0.0
pytz
google-api-python-client>=2.86.0
google-auth>=2.22.0
google-auth-oauthlib==1.2.2
huggingface_hub
requests
urllib3
beautifulsoup4
numpy
whisperx
openai-whisper
google-genai
markdown
weasyprint
langchain
langchain-text-splitters
langgraph
langgraph-prebuilt
python-docx
pyrogram
tgcrypto
ddgs
trafilatura
urlextract
firecrawl-py
openai
instructor>=1.7.0
jsonref
